<% if user_signed_in? %>
  <div id="recent_episodes">
    <h3>All your blogs</h3>
    <ul>
    <% @blog_entries.each do |entry| %>
      <li><%= link_to entry.title, entry.url %></li>
      <li><%= entry.summary %></li>
    <% end %>
    </ul>
  </div>
<% else %>
  <%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to add and view blogs!
<% end %>
