---
http_interactions:
- request:
    method: get
    uri: http://www.nytimes.com/services/xml/rss/nyt/JobMarket.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 22 Jul 2010 04:31:37 GMT
      Ntcoent-Length:
      - '18703'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:nyt="http://www.nytimes.com/namespaces/rss/2.0" version="2.0">
          <channel>
            <title>NYT &gt; Jobs</title>
            <link>http://www.nytimes.com/pages/jobs/index.html?partner=rss</link>
            <atom:link rel="self" type="application/rss+xml" href="http://www.nytimes.com/services/xml/rss/nyt/JobMarket.xml"/>
            <description/>
            <language>en-us</language>
            <copyright>Copyright 2010  The New York Times Company</copyright>
            <lastBuildDate>Thu, 22 Jul 2010 04:31:03 GMT </lastBuildDate>
            <image>
              <title>NYT &gt; Jobs</title>
              <url>http://graphics.nytimes.com/images/section/NytSectionHeader.gif</url>
              <link>http://www.nytimes.com/pages/jobs/index.html?partner=rss</link>
            </image>
            <item>
              <title>Corner Office: Never Duck Tough Questions, Says Drugstore.com&#x2019;s Chief</title>
              <link>http://www.nytimes.com/2010/07/18/business/18corner.html?partner=rss&amp;emc=rss</link>
              <guid isPermaLink="true">http://www.nytimes.com/2010/07/18/business/18corner.html</guid>
              <media:content url="http://graphics8.nytimes.com/images/2010/07/18/business/CORNER/CORNER-thumbStandard.jpg" medium="image" height="75" width="75"/>
              <media:description> &#x201C;You have to be transparent as a leader and you have to be willing to take criticism openly,&#x201D; says Dawn Lepore, the chairwoman and C.E.O. of Drugstore.com. She is also a director of eBay and The New York Times Company.</media:description>
              <media:credit>Tony Cenicola/The New York Times</media:credit>
              <description>Dawn Lepore, chairwoman and chief executive of Drugstore.com, says good leaders direct employees&#x2019; energies toward the mission at hand.</description>
              <dc:creator>By ADAM BRYANT</dc:creator>
              <pubDate>Sun, 18 Jul 2010 02:20:15 GMT</pubDate>
              <category domain="http://www.nytimes.com/namespaces/des">Hiring and Promotion</category>
              <category domain="http://www.nytimes.com/namespaces/nyt_org_all">eBay Inc|EBAY|NASDAQ</category>
              <category domain="http://www.nytimes.com/namespaces/nyt_per">Lepore, Dawn G</category>
            </item>
            <item>
              <title>The Boss: Still Minding the Mill</title>
              <link>http://www.nytimes.com/2010/07/18/jobs/18boss.html?partner=rss&amp;emc=rss</link>
      [...]
[...]
