---
http_interactions:
- request:
    method: get
    uri: http://www.nytimes.com/services/xml/rss/nyt/JobMarket.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 22 Jul 2010 04:31:37 GMT
      Ntcoent-Length:
      - '18703'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:nyt="http://www.nytimes.com/namespaces/rss/2.0" version="2.0">
          <channel>
            <title>NYT &gt; Jobs</title>
            <link>http://www.nytimes.com/pages/jobs/index.html?partner=rss</link>
            <atom:link rel="self" type="application/rss+xml" href="http://www.nytimes.com/services/xml/rss/nyt/JobMarket.xml"/>
            <description/>
            <language>en-us</language>
            <copyright>Copyright 2010  The New York Times Company</copyright>
            <lastBuildDate>Thu, 22 Jul 2010 04:31:03 GMT </lastBuildDate>
            <image>
              <title>NYT &gt; Jobs</title>
              <url>http://graphics.nytimes.com/images/section/NytSectionHeader.gif</url>
              <link>http://www.nytimes.com/pages/jobs/index.html?partner=rss</link>
            </image>
            <item>
              <title>Corner Office: Never Duck Tough Questions, Says Drugstore.com&#x2019;s Chief</title>
              <link>http://www.nytimes.com/2010/07/18/business/18corner.html?partner=rss&amp;emc=rss</link>
              <guid isPermaLink="true">http://www.nytimes.com/2010/07/18/business/18corner.html</guid>
              <media:content url="http://graphics8.nytimes.com/images/2010/07/18/business/CORNER/CORNER-thumbStandard.jpg" medium="image" height="75" width="75"/>
              <media:description> &#x201C;You have to be transparent as a leader and you have to be willing to take criticism openly,&#x201D; says Dawn Lepore, the chairwoman and C.E.O. of Drugstore.com. She is also a director of eBay and The New York Times Company.</media:description>
              <media:credit>Tony Cenicola/The New York Times</media:credit>
              <description>Dawn Lepore, chairwoman and chief executive of Drugstore.com, says good leaders direct employees&#x2019; energies toward the mission at hand.</description>
              <dc:creator>By ADAM BRYANT</dc:creator>
              <pubDate>Sun, 18 Jul 2010 02:20:15 GMT</pubDate>
              <category domain="http://www.nytimes.com/namespaces/des">Hiring and Promotion</category>
              <category domain="http://www.nytimes.com/namespaces/nyt_org_all">eBay Inc|EBAY|NASDAQ</category>
              <category domain="http://www.nytimes.com/namespaces/nyt_per">Lepore, Dawn G</category>
            </item>
            <item>
              <title>The Boss: Still Minding the Mill</title>
              <link>http://www.nytimes.com/2010/07/18/jobs/18boss.html?partner=rss&amp;emc=rss</link>
      [...]
[...]
- request:
    method: get
    uri: http://www.nytimes.com/services/xml/rss/nyt/1JobMarket.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Ntcoent-Length:
      - '7434'
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"
        \"http://www.w3.org/TR/html4/loose.dtd\">\n<html xmlns:og=\"http://opengraphprotocol.org/schema/\"
        xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n<title>The New York
        Times &#62; Page Not Found</title>\n<meta  http-equiv=\"Content-Type\" content=\"text/html;
        charset=iso-8859-1\">\n\n<meta  name=\"robots\" content=\"noarchive\">\n\n<meta
        \ name=\"CG\" content=\"Member Center\">\n\n<meta  name=\"SCG\" content=\"\">\n\n<meta
        \ name=\"PT\" content=\"Member Center\">\n\n<meta  name=\"PST\" content=\"Error
        Page\">\n\n<link rel=\"stylesheet\" type=\"text/css\" href=\"http://css.nyt.com/css/0.1/screen/build/error/styles.css\"><!--[if
        IE]>\n\t\t    <style type=\"text/css\">\n\t\t        @import url(http://css.nyt.com/css/0.1/screen/common/ie.css);\n\t\t
        \   </style>\n\t\t<![endif]-->\n<!--[if IE 6]>\n\t\t    <style type=\"text/css\">\n\t\t
        \       @import url(http://css.nyt.com/css/0.1/screen/common/ie6.css);\n\t\t
        \   </style>\n\t\t<![endif]-->\n<script type=\"text/javascript\" src=\"http://js.nyt.com/js/common.js\"></script>\n</head>\n\n
        \   \n\n\n\n\n\n<body >\n\n<a name=\"top\"></a>\n<div id=\"shell\">\n<ul id=\"memberTools\">
        \                                       \n<li><a href=\"http://www.nytimes.com/membercenter/sitehelp.html\">Help</a></li>\n</ul>\n<div
        class=\"tabsContainer\">\n<ul id=\"mainTabs\" class=\"tabs\">\n<li class=\"first
        mainTabHome\"><a href=\"http://www.nytimes.com\">Home Page</a></li>\n<li class=\"mainTabTodaysPaper\"><a
        href=\"http://www.nytimes.com/pages/todayspaper/index.html\">Today's Paper</a></li>\n<li
        class=\"mainTabVideo\"><a href=\"http://www.nytimes.com/video\">Video</a></li>\n<li
        class=\"mainTabMostPopular\"><a href=\"http://www.nytimes.com/mostpopular\">Most
        Popular</a></li>\n<li class=\"mainTabTimesTopics\"><a href=\"http://topics.nytimes.com/top/reference/timestopics\">Times
        Topics</a></li>\n</ul>\n</div>\n<div id=\"page\" class=\"tabContent active\">\n<div
        class=\"clearfix\" id=\"masthead\">\n<div id=\"searchWidget\">\n<div class=\"inlineSearchControl\">\n<form
        enctype=\"application/x-www-form-urlencoded\" action=\"http://query.nytimes.com/search/sitesearch\"
        method=\"get\" name=\"searchForm\" id=\"searchForm\">\n<input type=\"hidden\"
        value=\"full\" name=\"date_select\"/>\n<label for=\"searchQuery\">Search All
        NYTimes.com</label>\n<input type=\"text\" class=\"text\" value=\"\" size=\"\"
        name=\"query\" id=\"searchQuery\"/>\n<input type=\"hidden\" id=\"searchAll\"
        name=\"type\" value=\"nyt\"/>\n<input type=\"image\" id=\"searchSubmit\" title=\"Search\"
        alt=\"Search\" width=\"22\" height=\"19\" src=\"http://i1.nyt.com/images/global/buttons/go.gif\"/>\n</form>\n</div>\n</div>\n<div
        id=\"branding\">\n<a href=\"http://www.nytimes.com\"><img src=\"http://i1.nyt.com/images/misc/nytlogo152x23.gif\"
        alt=\"New York Times\" id=\"NYTLogo\"/></a>                            \n</div>\n</div>\n<div
        id=\"main\">\n<div class=\"spanAB wrap closing\">\n<div id=\"abColumn\" class=\"abColumn\"><!--open
        abColumn -->\n<div class=\"columnGroup header insetV\">\n<h2>Page Not Found</h2>\n<p>We&rsquo;re
        sorry, we seem to have lost this page, but we don&rsquo;t want to lose you.</p>\n<ul>\n<li>\n<strong>Check
        the Archives.</strong> Most articles remain\nonline for seven days after publication.
        Articles back to 1851 are available\nthrough <a href=\"http://query.nytimes.com/search/query?srchst=nyt&&srcht=a&srchr=n\">The
        New York Times Article Archive</a>. 1851 &ndash;\npresent.\n</li>\n<li>\n<strong>Report
        the broken link.</strong> If you clicked on a\nheadline or other link on NYTimes.com,
        you can <a href=\"http://www.nytimes.com/membercenter/formblink.html\">report
        the missing page</a>.\n</li>\n</ul>\n</div>\n<div class=\"columnGroup singleRule
        insetPadded\">\n<h3 class=\"sectionHeader\">Or, you&rsquo;re bound to find
        something of interest here.</h3>\n<div id=\"mostPopWidget\"></div>\n<script
        src=\"http://js.nyt.com/js/app/recommendations/recommendationsModule.js\"
        type=\"text/javascript\" charset=\"utf-8\"></script>\n</div>\n</div><!--close
        abColumn -->\n<div class=\"cColumn\"><!--open cColumn -->\n<div class=\"columnGroup\">\n<div
        class=\"inlineSearchControl blue box\">\n<div class=\"inset\">\n<form id=\"searchFormCCol\"
        name=\"searchFormCCol\" method=\"get\" action=\"http://query.nytimes.com/search/sitesearch\"
        enctype=\"application/x-www-form-urlencoded\">\n<input type=\"hidden\" name=\"date_select\"
        value=\"full\" />\n<label for=\"searchQueryCCol\">Search NYTimes.com</label>\n<input
        type=\"text\" id=\"searchQueryCCol\" name=\"query\" size=\"\" value=\"\" class=\"text\"
        />\n<input type=\"hidden\" value=\"nyt\" name=\"type\" id=\"searchAll\" />\n<inp[...]
[...]
