@import 'twitter/bootstrap';
@import 'home';

html, body {
  height: 100%;
}
body { 
  padding-top: 60px;
  background-image: url('ricepaper.png');

}

.container {
  height: 100%;
}

.meat {
  background-color: #FFF;
  height: 100%;
}

.hello-sidebar {
  background-color: lightgreen;
  height: 100%;
}

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    vertical-align: top;
}

 .navbar-inner {
    text-align:center;
}
