@import 'twitter/bootstrap';
@import 'home';

.hey a{
  color:red;
}

html, body {
  height: 100%;
}
body {
}


.container {
  height: 100%;
}

.meat {
  background-color: #FFF;
  height: 100%;
}

.hello-sidebar {
}

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    vertical-align: top;
}

 .navbar-inner {
    text-align:center;
}
