@import 'twitter/bootstrap';
@import 'home';

html, body {
  height: 100%;
}
body { 
  padding-top: 30px;
  background-image: url('ricepaper.png');

}

.navbar {
  background-color: #480000;
}

.content_container, .col-md-3 {
  background-color: #993300;
  height: 100%;
}

.row, .col-md-9 {
  background-color: #FFF;
  height: 100%;
}

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    vertical-align: top;
}

 .navbar-inner {
    text-align:center;
}
